---
const navData: Array<"About" | "Project" | "Skills & Tech" | "Contacts"> = [
  "About",
  "Project",
  "Skills & Tech",
  "Contacts",
];
---

<header class="fixed top-0 right-0 left-0 backdrop-blur-sm">
  <div class="flex justify-between items-center w-fluid h-16 mx-auto">
    <div class="text-2xl font-bold flex gap-3 items-center">
      <!-- <svg
        viewBox="0 0 24 24"
        stroke-width="1.5"
        class="w-9 h-9 fill-green-300 stroke-slate-800"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z"
        ></path>
      </svg> -->
      <span class="font-titan uppercase text-3xl text-white tracking-widest">Joseph</span>
    </div>
    <nav class="hidden sm:block">
      <ul class="flex gap-5 text-xl">
        {navData.map((navItem) => <li class="cursor-pointer">{navItem}</li>)}
      </ul>
    </nav>
    <div class="flex gap-1 flex-col items-center">
      <div class="w-8 h-1 bg-black"></div>
      <div class="w-8 h-1 bg-black"></div>
      <div class="w-8 h-1 bg-black"></div>
    </div>
  </div>
</header>
