---
import github from "assets/images/github.svg";
import linkedin from "assets/images/linkedin.svg";
import twitter from "assets/images/twitter.svg";
---

<div class="flex gap-3 backdrop-blur-lg p-2 rounded-[100vmax]">
  <img
    class="w-7 rounded-full cursor-pointer hover:scale-110 transition-transform"
    src={github}
    alt="github icon"
  />
  <img
    class="w-7 rounded-full cursor-pointer hover:scale-110 transition-transform"
    src={linkedin}
    alt="linkedin icon"
  />
  <img
    class="w-7 rounded-full cursor-pointer hover:scale-110 transition-transform"
    src={twitter}
    alt="twitter icon"
  />
</div>
<style>
  div {
    background-image: linear-gradient(
      290deg,
      var(--clr-gold),
      var(--clr-gold) 20%,
      var(--clr-light) 70%
    );
    filter: contrast(75%) saturate(200%);
  }
  img {
    /* filter: blur(2px); */
  }
</style>
