---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import "../styles/reset.css";
import "../styles/index.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-dark text-light">
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --clr-dark: hsl(223, 9%, 14%);
    --clr-light: hsl(0, 0%, 68%);
    --clr-gold: hsl(43, 84%, 68%);

    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
</style>
